body{
  margin-left: 360px;
  margin-right: 400px;
  background-color:black;

}


.box{
  height:200px;
  width:280px;
  border: 3px solid white;
  margin-left: 95px;
  margin-top: -40px;
  margin-right: -72px;
  display:inline-flex;
  background-color :white;
  
}
.content{
  color:black;
  margin-top: 50px;
  margin-left:95px;

  
}
.color{
  background-color:gainsboro;



}
.two{
  height:170px;
  width: 450px;
  background-color:gainsboro;
  margin-left: 95px;


}
.three{
  height:170px;
  width: 450px;
  margin-left: 550px;
  margin-top: -178px;
  background-color:gainsboro;
}
.section{
  display:inline-flex;
  margin-left:95px;
  font-weight:bold;
  font-size: 14px;
}
.im{
  margin-left: 95px;
  margin-top: 13px;


}
.col-container {
    display: table; 
    width: 85%;
    margin-left: 95px;
}

.col1{
    display: table-cell; 
    background-color:rgb(170, 142, 105);
    align-content:center;
}
.col2{
    display: table-cell; 
    background-color:rgb(65, 70, 143);
}
.col3{
    display: table-cell;
    background-color:rgb(180, 176, 176);
 
}
.col4{
    display: table-cell; 
    background-color:rgb(172, 119, 177);

}
.im1{
  margin-left: 95px;
  margin-top: 33.33px;
  color:blue
}

.column {
  margin-left: 95px;
  float: left;
  width: 20%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.color1{
  background-color:whitesmoke;
  margin-top: -18px;
}
.shital{
  margin-left:95px;
  margin-bottom: 50px;
  padding-top: 50px;
  color:blue;

}
.best-plan{
  margin-left: 95px;
  margin-top :-40px;
}
.columns {
  float: left;
  width: 24%;
  padding: 8px;
  margin-left: 95px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin-bottom: 100px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: rgb(207, 198, 198);
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #7a807d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

.utube{
  margin-left: 95px;
  margin-bottom:100px;
}
.title{
  margin-top: 50px;
  color: white;
  margin-left: 95px;
  
}
.review{
  background-color:black;
}
.container{
  margin-top: 50px;
  border:2px solid black;
  background-color:black;
  border-radius:5px;

}
.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%; 
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
.post{
  margin-left: 95px;
  margin-top: 90px;
  font-size: 20px;
  margin-bottom:100px;
}
.contact{
  width:30%;
  height: 30px;
  display:table;
  border:2px solid black;

  
}
.col-container1 {
    display: table; 
    width: 90%; 
}

.col5{
    display: table-cell; 
}
.col6{
    display: table-cell; 

}
.col7{
    display: table-cell; 
}
.msg{
  width:60%;
  height:500px;
  margin:auto;

}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 

input[type=submit] {
  background-color: #9fa7a4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5c615c;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
